/****** Base ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

/* Layout */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}