/* Icone de localisation */
.location-icon-container {
    min-width: 50px;      
}

/* Icone Information */
.info-icon-container {
    max-width: 24px;
    max-height: 24px;
}

/* Boutons */
.btn {
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--main-color);
    color: white;
}

.btn-filter {
    border: 2px solid var(--border-color);
    background-color: white;
    transition: background-color 0.1s ease;
}

.btn-filter:hover {
    background-color: var(--filter-bg-color);
}

/* Search Bar */
.search-icon {
    display: none;
}